<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Our Streamed Tokens App</title>
</head>
<body>
    <div id="response-section"></div>    
    <form method="POST">
        <button type="button" onclick="start()">Start</button>
    </form>
</body>
<script>

document.querySelector("form").addEventListener("submit", function (e) {
    e.preventDefault();
});

let evtSource = null;

async function start() {
    try {
        await fetch("/start", { method: "POST" });

        evtSource = new EventSource("/generate");

        evtSource.addEventListener("streamed-text", (event) => {
            console.log("Received streamed text:", event.data);

            const div = document.getElementById("response-section");
            div.innerHTML += event.data + " "; 

            if (event.data.trim() === "[STREAM DONE]") {
                console.log("Stream completed. Closing SSE.");
                evtSource.close(); 
            }
        });

        evtSource.onerror = (err) => {
            console.error("SSE error:", err);
            evtSource.close(); 
        };

    } catch (error) {
        console.error("Error when starting process:", error);
    }
}

</script>
</html>

